langchain
langchain-core
langchain-community
langchain-openai
langchain-pinecone==0.2.13
langchain-groq
pinecone
openai
streamlit
yt-dlp
pandas
tiktoken
sentence-transformers
transformers
torch
python-dotenv
whisper
langchain-huggingface